<!DOCTYPE html>
<html lang="en">
<head>
  <title>HvZ</title>
</head>
<body>
<div id="message">Please wait...</div>
<div id="error"></div>
<script type="text/javascript">
  window.onload = function () {
    var result = <%- result %>;
    var didSendResults = false;
    if (window.opener) {
      window.opener.postMessage(result, '*');
      didSendResults = true;
    }

    if (window.onAuthResult) {
      window.onAuthResult(result);
      didSendResults = true;
    }

    if (didSendResults) {
      window.close();
    }
    else {
      document.getElementById("message").innerHTML = result.message;
      document.getElementById("error").innerHTML = "Woah, you shouldn't be here!";
    }
  }
</script>
</body>
</html>
