<div class="container">
    <div class="vertical-space"></div>

    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Delete {{model.player.name}}</h2>
            <p>Are you sure you want to delete the player {{model.player.name}}?</p>
            <div class="btn-group">
                <button type="button" class="btn btn-default" {{action 'cancel'}}>Cancel</button>
                <button type="button" class="btn btn-danger" {{action 'delete'}}>Delete</button>
            </div>
        </div>
    </div>
</div>