<div class="container">
    <div class="vertical-space"></div>

    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Delete Mission</h2>
            <h3>{{model.mission.title}}</h3>
            <p>Are you sure you want to delete this mission?</p>
            <div class="btn-group">
                <button type="button" class="btn btn-default" {{action 'cancel'}}>Cancel</button>
                <button type="button" class="btn btn-danger" {{action 'delete' model.mission.id}}>Delete</button>
            </div>
        </div>
    </div>
</div>