<div class="container">
    <div class="vertical-space"></div>

  {{#if model.notLoggedIn}}
      <div class="row">
          <div class="col-md-12 text-center">
              <h2>Whoops!</h2>
              <p>You need to be logged in to register infections.</p>
          </div>
      </div>
  {{else}}
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Antivirus Code</h2>
            <p>Antivirus codes have expiration dates! Make sure you use them as soon as possible.</p>
            <p>You may use only a single antivirus.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            {{#if model.usedAV}}
              <span style="color: red;">You have already used an antivirus. You may only enter AVs for other people here.</span>
            {{else}}
              <span style="color: green;">You have not yet used an antivirus.</span>
            {{/if}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form>
                <div class="form-group">
                    <label for="antivirusId">Antivirus Code</label>
                    <input type="text" class="form-control" id="antivirusId" placeholder="antivirus code" maxlength="8">
                </div>
                <div class="form-group">
                    <label for="zombieId">Zombie Id</label>
                    <input type="text" class="form-control" id="zombieId" placeholder="zombieId" maxlength="8" value="{{model.zombieId}}">
                </div>
                <button id="antivirusButton" type="submit" class="btn btn-default" {{action 'submitAntivirus'}}>Submit</button>
            </form>
        </div>
    </div>
  {{/if}}
</div>