<div class="container">
    <div class="vertical-space"></div>

    <div class="row">
        <div class="col-sm-12 text-center">
            <h2>Contact</h2>
            <p>
                For inquiries, disputes, or anything else, please email
                <a href="mailto:{{model.email}}">{{model.email}}</a>.
            </p>
        </div>
    </div>
</div>