<div class="container">
    <div class="vertical-space"></div>

    <div class="row">
        <div class="col-sm-12">
            <h1>Credits</h1>
            <p>
                This website was created by <strong><a href="https://github.com/redxdev">Sam Bloomberg</a></strong> and is
                maintained by <strong><a href="https://github.com/alex-mechler">Alex Mechler</a></strong> for
                the Humans vs Zombies @ RIT club.
            </p>
            <p>
                The source code to the website is under the
                <a href="https://github.com/redxdev/hvzsite/blob/master/LICENSE">MIT license</a>, and the source can be
                found <a href="https://github.com/redxdev/hvzsite">here</a>.
            </p>
            <p>
                The website is powered by <a href="http://emberjs.com/">Ember</a> on the frontend with
                <a href="http://getbootstrap.com/">Bootstrap</a> + <a href="https://bootswatch.com/cyborg/">Bootswatch
                Cyborg</a>. The backend is powered by <a href="http://sailsjs.org/">Sails</a>.
            </p>

            <h2>Other Credits</h2>

            <h3>Icons</h3>
            <ul>
                <li><img class="game-badge with-background" src="images/badges/oz.png"> by jake sones from the Noun Project</li>
                <li><img class="game-badge with-background" src="images/badges/antivirus.png"> by Emmanuel Mangatia from the Noun Project
                </li>
                <li><img class="game-badge with-background" src="images/badges/earlyriser.png"> by Wayne Middleton from the Noun Project
                </li>
                <li><img class="game-badge with-background" src="images/badges/close.png"> by Gonzalo Bravo from the Noun Project</li>
                <li><img class="game-badge with-background" src="images/badges/quick.png"> by Arthur Shlain from the Noun Project</li>
                <li><img class="game-badge with-background" src="images/badges/mod.png">
                    <img class="game-badge with-background" src="images/badges/admin.png"> by Edward Boatman from the Noun Project</li>
                <li><img class="game-badge with-background" src="images/badges/test.png"> by Hopkins from the Noun Project</li>
                <li><img class="game-badge with-background" src="images/badges/tent.png"> by Jarem Frye from the Noun Project</li>
                <li><img class="game-badge with-background" src="images/badges/hide.png"> by Trident from the Noun Project</li>

                <li>
                    Other icons are either original, <a href="http://glyphicons.com/">Glyphicons</a>, or in the public
                    domain.
                </li>
            </ul>
        </div>
    </div>
</div>
