<div class="container">
    <div class="vertical-space"></div>

    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">{{model.post.title}}</h1>
            <h5 class="text-center">Posted {{format-relative model.post.postDate}}</h5>
            <div>
              {{{model.post.body}}}
            </div>
        </div>
    </div>
</div>