<div class="container">
    <div class="vertical-space"></div>

    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Woah, there doesn't seem to be anything here!</h1>
            <h2>404</h2>
            <p>If you think this is in error, please let an administrator know!</p>
        </div>
    </div>
</div>