<div class="jumbotron header">
    <div class="container header-text text-center">
        <h1 id="countdown">
          {{#if model.date.inPast}}
              <strong>Game Over</strong>
          {{else}}
              <strong>Loading...</strong>
          {{/if}}
        </h1>
    </div>
</div>